.header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header a {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
  line-height: 1.2;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link:not(.header__link_active) {
  letter-spacing: 0.01em;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 2px;
  width: 240px;
  font-size: 18px;
  line-height: 1.25;
  font-style: normal;
}

.address a {
  text-decoration: none;
  border: 1px solid black;
  letter-spacing: 0.01em;
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 135px;
  color: white;
  text-transform: uppercase;
  padding: 165px 50px 51px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: 51%;
  position: relative;
  z-index: 1;
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  letter-spacing: 0.3em;
  line-height: 1;
}

.aligned-text {
  line-height: 1.15;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.ano-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text,
.bet-button {
  font-size: 22px;
  font-weight: normal;
}

.cover__description-text {
  line-height: 1.27;
  word-spacing: 19px;
  padding-left: 27px;
}

.bet-button {
  text-transform: uppercase;
  line-height: 1.15;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 32px 11px 31px;
}

.lots {
  padding: 181px 24px 0;
}

.lots__heading {
  font-size: 40px;
  line-height: 1.174;
  margin-left: 40px;
}

.lots__card-list {
  margin-top: 27px;
  list-style: none;
  display: flex;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 1;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
  color: white;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.174;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: max-content;
}

.about {
  display: grid;
  gap: 8px 25px;
  grid-template-columns: 334px 1fr;
  grid-template-areas:
    'about-logo about-title'
    '. about-text';
  padding: 179px 24px 0;
}

.about__column_justify-self_center {
  justify-self: center;
}

.about__column_align-self_center {
  align-self: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  justify-self: center;
  align-content: center;
  grid-area: about-logo;
}

.about__logo-image {
  padding: 52px 46px 46px;
}

.about__title {
  align-self: center;
  margin-top: 11px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.174;
  text-transform: uppercase;
  grid-area: about-title;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01em;
  grid-area: about-text;
}

.negative-letter-spacing-001 {
  letter-spacing: -0.01em;
}

.letter-spacing-001 {
  letter-spacing: 0.01em;
}

.letter-spacing-002 {
  letter-spacing: 0.02em;
}

.letter-spacing-003 {
  letter-spacing: 0.03em;
}

.letter-spacing-004 {
  letter-spacing: 0.04em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 88px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 1.174;
  text-decoration: none;
}

.footer__menu-link:not(.footer__menu-link_active) {
  border-bottom: 1px solid black;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
