.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 24px 96px;
}

.header a {
  text-decoration: none;
}

.header__menu {
  /* костыли */
  padding-top: 5px;
  padding-left: 27px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__link {
  font-size: 18px;
  line-height: 1.2;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link:not(.header__link_active) {
  letter-spacing: 1%;
  border-bottom: 1px solid black;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
  /* костыли */
  padding-right: 11px;
  margin-right: 85px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 2px;
  width: 240px;
  font-size: 18px;
  line-height: 1.25;
  font-style: normal;
  /* костыли */
  padding-top: 3px;
  margin-right: 25px;
}
